<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-sm">
        <a class="navbar-brand" href="#" style="margin-right:20px;">
            <img src="/public/icons/bold.svg" alt="Logo Breno">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="d-flex align-items-center">
                    <a class="nav-link active" aria-current="page" style="margin-right: 8px;" href="/">
                        <img src="../public/icons/home.svg" style="margin-right: 5px;">Home
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <a class="nav-link active" aria-current="page" style="margin-right: 8px;" href="/ideias">
                        <img src="../public/icons/code.svg" style="margin-right: 5px;">Ideias
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <a class="nav-link active" aria-current="page" style="margin-right: 8px;" href="/arquivos">
                        <img src="../public/icons/file.svg" style="margin-right: 5px;">Arquivos
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Fim header -->